{%extends './tpl.html'%}

{%block content%}
<div class="head clear">
  <h3 class="title fl">文章列表</h3>
  <div class="btns fr">
    <a href="javascript:;">删除</a>
    <a href="/polls/pageAdds">添加</a>
  </div>
</div>
<table class="table" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th width="10%">id</th>
      <th width="30%">标题</th>
      <th width="20%">作者</th>
      <th width="20%"></th>
    </tr>
    <tbody>
      {%for item in list%}
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.author}}</td>
            <td>
              <a href="/polls/pageEdit?id={{item.id}}">编辑</a><a data-del="{{item.id}}" href="javascript:;">删除</a>
            </td>
          </tr>
      {%endfor%}
    </tbody>
  </thead>
</table>
{%csrf_token%}

{%endblock%}

{%block js%}
<script>
var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
  $(function(){
    $('[data-del]').on('click', function(){
      var id = $(this).data('del');
      $.ajax({
        type:'POST',
        url:'/polls/pageDel',
        data: {
          id: id,
          csrfmiddlewaretoken:csrf_token
        },
        success: function(data){
          alert(data.info);
          if(data.status==1){
            window.location.reload();
          }
        }
      })
    });
  })
</script>
{%endblock%}
