<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>后台管理</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'polls/dist/css/reset.css'%}">
    <link rel="stylesheet" href="{%static 'polls/dist/css/admin.css'%}">
    {%block css%}
    {%endblock%}
  </head>
  <body>
    <div class="header clear">
      <h2 class="fl title">博客后台管理</h2>
      <div class="fr user">
        <span class="name">{{username}}</span>
        <a class="logout" href="/polls/logout">退出</a>
      </div>
    </div>
    <div class="bar">
      <ul>
        <li><a {%if title == 'index'%}class="act"{%endif%} href="/polls/mindex">首页</a></li>
        <li><a {%if title == 'cate'%}class="act"{%endif%} href="/polls/cateIndex">分类</a></li>
        <li><a {%if title == 'page'%}class="act"{%endif%} href="/polls/pageIndex">文章</a></li>
      </ul>
    </div>

    <div class="content">
      {%block content%}
      {%endblock%}
    </div>

    <script src="{%static 'polls/dist/js/jquery-3.3.1.js'%}"></script>
    {%block js%}{%endblock%}
  </body>
</html>
